.images-cocktails-standard {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.images-cocktails-standard img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-top: 15px;
}

.cocktail-name-standard p{
    margin-left: -30px;
    align-items: center;
}

.cocktail-name-standard {
    width: 106px;
    margin-top: 20px;
    align-items: center;
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.2rem;

}

.container {
    border-radius: 30px;
    color: white;
    width: 1020px;
    height: 440px;
    padding: 30px;
    box-shadow: white;
    background-color: #6C6C6C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagination button{
    cursor: pointer;
    border-radius: 100%;

}

@media (max-width: 767px){
    .container{
        width:260px
    }
    .container h1{
        margin-top: -250px;
    }
    .images-cocktails-standard{
        margin-left: 20px;
        grid-template-columns: repeat(1, 1fr);
        width: 350px;
        height:100px ;
    }

    .images-cocktails-standard img{
        width: 50px;
        height: auto;
    }

    .cocktail-name-standard{
        font-size: 16px;
        margin-left: 100px;
        margin-top: -80px;
    }
    .pagination {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
    }

}
